<!DOCTYPE html>
<html>
    <head>
        <title>My Search Engine</title>
    </head>
<body>
    <h1>🔎Smart Search Engine</h1>
    <form method="POST">
        <input type="text" name="user_query" placeholder="Type your search here....🔎" autocomplete="off">
        <button type="submit">Search</button>
    </form>
    {% if message %}
        <p><strong>{{ message }}</strong></p>
    {% endif %}

    {% if results is not none %}
        
        {% if results|length == 0 %}
            <p>No matching documents found. Try another word!</p>
        
        {% else %}
            <ul>
                {% for name, score in results %}
                    <li>
                        <strong>{{ name }}</strong> — Relevance Score: {{ score }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endif %}
</body>
</html>